Repository nextcloud/talk-android, pull requests merged in 2022-11, with the labels that each got.

#2540 Fix update of guest avatars in call participants
  app/src/main/java/com/nextcloud/talk/activities/CallActivity.java
  app/src/main/java/com/nextcloud/talk/adapters/ParticipantDisplayItem.java
Labels: bug, 3. to review, feature: ☎️ call

#2541 Keep retrying with exponential backoff if pulling signaling messages fails
  app/src/main/java/com/nextcloud/talk/activities/CallActivity.java
Labels: bug, 3. to review, feature: ☎️ call

#2415 Feature/1724/missed call notification
  app/src/gplay/AndroidManifest.xml
  app/src/gplay/java/com/nextcloud/talk/services/firebase/ChatAndCallMessagingService.kt
  app/src/gplay/java/com/nextcloud/talk/services/firebase/NCFirebaseMessagingService.kt
  app/src/main/java/com/nextcloud/talk/activities/CallNotificationActivity.java
  app/src/main/java/com/nextcloud/talk/activities/CallNotificationActivity.kt
  app/src/main/java/com/nextcloud/talk/events/CallNotificationClick.kt
  app/src/main/java/com/nextcloud/talk/jobs/NotificationWorker.java
  app/src/main/java/com/nextcloud/talk/jobs/NotificationWorker.kt
  app/src/main/java/com/nextcloud/talk/jobs/UploadAndShareFilesWorker.kt
  app/src/main/java/com/nextcloud/talk/models/json/notifications/Notification.kt
  app/src/main/java/com/nextcloud/talk/models/json/notifications/NotificationOverall.kt
  app/src/main/java/com/nextcloud/talk/models/json/push/DecryptedPushMessage.kt
  app/src/main/java/com/nextcloud/talk/utils/ApiUtils.java
  app/src/main/java/com/nextcloud/talk/utils/NotificationUtils.kt
  app/src/main/res/drawable/ic_baseline_phone_missed_24.xml
  app/src/main/res/values/strings.xml
Labels: 3. to review

#2503 Fix remote participants display with both video and screen share
  app/src/main/java/com/nextcloud/talk/activities/CallActivity.java
Labels: bug, 3. to review, backport-request, feature: ☎️ call

#2563 Use comparison operator rather than equals for enums
  app/src/main/java/com/nextcloud/talk/activities/CallActivity.java
  app/src/main/java/com/nextcloud/talk/adapters/items/ContactItem.java
  app/src/main/java/com/nextcloud/talk/adapters/items/ConversationItem.java
  app/src/main/java/com/nextcloud/talk/adapters/items/ParticipantItem.java
  app/src/main/java/com/nextcloud/talk/dagger/modules/RestModule.java
  app/src/main/java/com/nextcloud/talk/webrtc/MagicWebSocketInstance.java
  app/src/main/java/com/nextcloud/talk/webrtc/PeerConnectionWrapper.java
  app/src/main/java/com/nextcloud/talk/webrtc/WebRtcAudioManager.java
Labels: bug, 3. to review, backport-request

#2573 Fix String comparison using operator rather than "equals()"
  app/src/main/java/com/nextcloud/talk/activities/CallActivity.java
Labels: bug, 3. to review, backport-request, feature: ☎️ call

#2572 Fix ParticipantDisplayItems not updated on events
  app/src/main/java/com/nextcloud/talk/activities/CallActivity.java
  app/src/main/java/com/nextcloud/talk/webrtc/PeerConnectionWrapper.java
Labels: bug, 3. to review, regression, backport-request, feature: ☎️ call

#2579 [stable-15.0] add more precise text when spreed is not available
  app/src/main/res/values/strings.xml
Labels: 3. to review

#2575 Fix "isInCallWithVideo()" check
  app/src/main/java/com/nextcloud/talk/activities/CallNotificationActivity.kt
Labels: bug, 3. to review, backport-request, feature: ☎️ call

#2585 [stable-15.0] Fix "isInCallWithVideo()" check
  app/src/main/java/com/nextcloud/talk/activities/CallNotificationActivity.java
Labels: bug, 3. to review, feature: ☎️ call

#2589 Show conversation search results first
  app/src/main/java/com/nextcloud/talk/controllers/ConversationsListController.kt
Labels: 3. to review

#2598 Bugfix/open notification
  app/src/main/java/com/nextcloud/talk/activities/MainActivity.kt
  app/src/main/java/com/nextcloud/talk/controllers/LockedController.kt
  app/src/main/java/com/nextcloud/talk/controllers/SettingsController.kt
  app/src/main/java/com/nextcloud/talk/utils/ConductorRemapping.kt
  app/src/main/java/com/nextcloud/talk/utils/SecurityUtils.java
  app/src/main/res/layout/controller_settings.xml
Labels: 3. to review, backport-request
